# **Pandas**

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("../data/data.csv", index_col=False)

### **Series**

In [13]:
list_ = ["apple", "banana", "cherry"]
dict_ = {"Alice": 25, "Bob": 30, "Charlie": 35}
arr_ = np.array([10, 20, 30, 40, 50])

In [14]:
pd.Series(list_)

0     apple
1    banana
2    cherry
dtype: object

In [15]:
pd.Series(dict_)

Alice      25
Bob        30
Charlie    35
dtype: int64

In [16]:
pd.Series(arr_)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### **DataFrames**

In [17]:
data = np.random.randn(5, 4)
index = ["A", "B", "C", "D", "E"]
columns = ["W", "X", "Y", "Z"]

df = pd.DataFrame(data, index, columns)

In [18]:
df.head()

          W         X         Y         Z
A  0.317852 -1.190674 -0.413946  0.620426
B -1.414473 -0.501975 -0.783859  0.499664
C  2.004588 -0.146424 -1.686376  1.151619
D  0.694059 -0.509904 -0.774015  0.588607
E -0.080731 -0.706095 -0.025339 -0.449097

In [26]:
df["Σ"] = df["W"] + df["X"] + df["Y"] + df["Z"]

In [27]:
df.head()

          W         X         Y         Z         Σ
A  0.317852 -1.190674 -0.413946  0.620426 -0.666342
B -1.414473 -0.501975 -0.783859  0.499664 -2.200643
C  2.004588 -0.146424 -1.686376  1.151619  1.323407
D  0.694059 -0.509904 -0.774015  0.588607 -0.001252
E -0.080731 -0.706095 -0.025339 -0.449097 -1.261262

##### **Methods**

In [30]:
df.drop("Σ", axis=1, inplace=True)

In [31]:
df.head()

          W         X         Y         Z
A  0.317852 -1.190674 -0.413946  0.620426
B -1.414473 -0.501975 -0.783859  0.499664
C  2.004588 -0.146424 -1.686376  1.151619
D  0.694059 -0.509904 -0.774015  0.588607
E -0.080731 -0.706095 -0.025339 -0.449097