# **Pandas**

In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("../data/data.csv", index_col=False)

### **Series**

In [11]:
list_ = ["apple", "banana", "cherry"]
dict_ = {"Alice": 25, "Bob": 30, "Charlie": 35}
arr_ = np.array([10, 20, 30, 40, 50])

In [12]:
pd.Series(list_)

0     apple
1    banana
2    cherry
dtype: object

In [13]:
pd.Series(dict_)

Alice      25
Bob        30
Charlie    35
dtype: int64

In [14]:
pd.Series(arr_)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### **DataFrames**